html {
    background-color: black;
}

body {
    margin: 0;
}

#text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14vw;
    animation: animate 15s infinite linear;
    position: absolute;
    top: -30vw;
    left: 30vw;
    transform: translate(50, 50);
    color: transparent;
    -webkit-text-stroke: 0.3vw white;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    text-decoration: none;
    color: black;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

#listen {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background:white;
    display: flex;
    justify-content: space-between;

ul {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5vw;
} 
}

li {
    margin: .6vw 4vw 0 4vw;
    color: black;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    height: 2vw;
    width: 2vw;
    padding-top: 1vw;
}

.main-bg {
    position: absolute;
    background: url('../img/ok.png');
    background-position: 40% 0;
    width: 40%;
    height: 1100px;
    z-index: -1;
    right: 0;
    background-size: cover;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
    padding-bottom: 0;
}

.sub {
    padding: 22vw 10vw 25vw 18vw;
    font-size: 4.5vw;
    line-height: 1em;
    text-align: center;
    max-width: 5em;
    color: white;

}

footer {
    width: 60vw;
    background: rgb(209, 209, 209);
    display: flex;
    position: relative;
    margin-bottom: 0;
}

.sideshot {
    width: 8.8vw;
    height: 8.8vw;
    background: url('../img/dean-pink.gif');
    background-size: cover;
}

.cta {
    color: black;
    text-decoration: none;
    align-self: center;
    position: relative;
    margin: 1em auto;
    font-size: 2.5vw;

    &:before {
        content: '';
        position: absolute;
        width: 130%;
        height: 3em;
        left: -1em;
        top: -1em;
        border: 1px solid black;
    }
}
@keyframes animate 
{
    0%
    {
        transform: translate(50%, 50%) rotate(360deg);
    }

    100%
    {
        transform: translate(50%, 50%) rotate(0deg);
    }
}

@media only screen and (min-width: 320px) {
    #text {
        top: -19%;
    }
}

@media only screen and (max-width: 500px) {
    .main-bg {
        background-size: 250px;
        background-repeat: no-repeat;
    }
    }

@media only screen and (max-width: 648px) {
.main-bg {
    background-size: 300px;
    background-repeat: no-repeat;
}
}

@media only screen and (max-width: 768px) {
    .main-bg {
        background-size: 354px;
        background-repeat: no-repeat;
    }
    }

@media only screen and (min-width: 375px) {
    #text {
        top: -21%;
    }

    footer {
        width: 60%;
    }
}

@media only screen and (min-width: 425px) {
    #text {
        top: -26%;
    }

    footer {
        width: 60%;
    }
}

@media only screen and (min-width: 600px) {
    #text {
        top: -38%;
    }

    footer {
        width: 60%;
    }
}

@media only screen and (min-width: 640px) {
    #text {
        top: -42%;
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #text {
        top: -46%;
    }
}

@media only screen and (min-width: 874px) {
    #text {
        top: -51%;
    }
}

@media only screen and (min-width: 992px) {
    #text {
        top: -55%;
    }

    footer {
        width: 60%;
        bottom: 2.9%;
    }
}

@media only screen and (min-width: 1024px) {
    #text {
        top: -50%;
    }
}

@media only screen and (min-width: 1440px) {
    #text {
        top: -50%;
    }

    footer {
        width: 60%;
        bottom: 8%;
    }
}

@media only screen and (min-width: 2560px) {
    #text {
        top: -51%;
    }
}